/* Header */
.header {
    grid-area: header;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  
  .header__logo {
    padding: 5px;
    display: flex;
    align-items: center;
    width: 50px;
  }
  