* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 15px 20px;
  background-color: rgb(54, 54, 54);
  color: white;
}

.gridWrap {
  display: grid;

  grid-template-areas: 
  "header header "
  "nav main ";
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

a {
  color: white;
}

/* Header */
.header {
  grid-area: header;
  background-color: gray;
}

.header__logo {
  width: 50px;
}

/* Nav */
.nav{
  grid-area: nav;
  background-color: gray;
}

/* Main */
.user {
  grid-area: main;
  background-color: gray;
}

.user__banner {
  width: 100%;
  height: 100px;
}

.user__wrap {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.user__avatar {
  width: 150px;
}

.user__name {
  font-size: 35px;
}

.user__info {
  width: 300px;
}

.postWrap {
  padding: 20px;
}

textarea{
  width: 500px;
  height: 100px;
  resize: none;
  overflow: auto;
}

button {
  display: block;
}

.postWrap__public {
  display: flex;
  align-items: center;
}

.postWrap__avatar {
  width: 50px;
}

.postWrap__post {
  margin-top: 10px;
  width: 500px;
  padding: 20px;
  color: black;
}
